.container {
  position: relative;
  width: 100%; /* Or any width you want */
  height: 100vh; /* Or any height you want */
  display: grid;
  justify-content: center;
  align-items: center;
}

.guidebook {
  width: auto;
  height: 200px;
  color: red;
}